<nav>
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color ">
        <logo>
            <a class="logo navbar-brand waves-light" mdbRippleRadius href="#"><strong>PRIMA VISTA</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbRippleRadius>
                    <a class="nav-link" href="#">SHOWS<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" href="#">FULL EPISODES</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" href="#">LIVE TV</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" href="#">SCHEDULE</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" href="#">MOVIES</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" href="#">MORE</a>
                </li>
            </ul>
            <form class="form-inline waves-light" mdbRippleRadius>
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </form>
        </links>
    </mdb-navbar>
</nav>